name: Build MariaDB Docker Image

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-mariadb:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Activate Docker Buildx
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build mariadb image
      - name: Build mariadb image
        uses: docker/build-push-action@v6
        with:
          context: ./mariadb-guacamole
          file: ./mariadb-guacamole/Dockerfile
          push: true
          tags: ghcr.io/${{ github.actor }}/mariadb-guacamole:latest

      # Show images built in the runner
      - name: Show built images
        run: docker images
