name: Build Guacamole Stack images

on:
  push:
    branches: ["dev", "main"]
  pull_request:
    branches: ["dev", "main"]

jobs:
  ###########################################
  # JOB 1 — Build MariaDB image
  ###########################################
  lint-mariadb:
    runs-on: ubuntu-latest
    name: Lint MariaDB Dockerfile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Lint MariaDB Dockerfile
        uses: hadolint/hadolint-action@master
        with:
          dockerfile: ./mariadb-guacamole/Dockerfile

  build-mariadb:
    runs-on: ubuntu-latest
    needs: lint-mariadb
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Detect changes in mariadb-guacamole
        id: changes
        run: |
          if git diff --name-only HEAD^ HEAD | grep -q '^mariadb-guacamole/'; then
            echo "changes=true" >> $GITHUB_OUTPUT
          else
            echo "changes=false" >> $GITHUB_OUTPUT
          fi

      - name: Show result
        run: |
          echo "Changes detected: ${{ steps.changes.outputs.changes }}"

      - name: Setup Docker Buildx
        if: ${{ steps.changes.outputs.changes == 'true' }}
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR (only on main)
        if: ${{ steps.changes.outputs.changes == 'true' && github.ref == 'refs/heads/main' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build mariadb image (push only on main)
        if: ${{ steps.changes.outputs.changes == 'true' }}
        uses: docker/build-push-action@v6
        with:
          context: ./mariadb-guacamole
          file: ./mariadb-guacamole/Dockerfile
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ghcr.io/${{ github.actor }}/mariadb-guacamole:latest

      - run: docker images

  ###########################################
  # JOB 2 — Build GUACD image
  ###########################################
  build-guacd:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Detect changes in guacd
        id: changes
        run: |
          if git diff --name-only HEAD^ HEAD | grep -q '^guacd/'; then
            echo "changes=true" >> $GITHUB_OUTPUT
          else
            echo "changes=false" >> $GITHUB_OUTPUT
          fi

      - name: Show result
        run: |
          echo "Changes detected: ${{ steps.changes.outputs.changes }}"

      - name: Setup Docker Buildx
        if: ${{ steps.changes.outputs.changes == 'true' }}
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR (only on main)
        if: ${{ steps.changes.outputs.changes == 'true' && github.ref == 'refs/heads/main' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build guacd image (push only on main)
        if: ${{ steps.changes.outputs.changes == 'true' }}
        uses: docker/build-push-action@v6
        with:
          context: ./guacd
          file: ./guacd/Dockerfile
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ghcr.io/${{ github.actor }}/guacd:latest

      - run: docker images

  ###########################################
  # JOB 3 — Build Guacamole Web (Tomcat)
  ###########################################
  build-guacamole:
    runs-on: ubuntu-latest
    needs: build-guacd
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Detect changes in guacamole-tomcat
        id: changes
        run: |
          if git diff --name-only HEAD^ HEAD | grep -q '^guacamole-tomcat/'; then
            echo "changes=true" >> $GITHUB_OUTPUT
          else
            echo "changes=false" >> $GITHUB_OUTPUT
          fi

      - name: Show result
        run: |
          echo "Changes detected: ${{ steps.changes.outputs.changes }}"

      - name: Setup Docker Buildx
        if: ${{ steps.changes.outputs.changes == 'true' }}
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR (only on main)
        if: ${{ steps.changes.outputs.changes == 'true' && github.ref == 'refs/heads/main' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build guacamole image (push only on main)
        if: ${{ steps.changes.outputs.changes == 'true' }}
        uses: docker/build-push-action@v6
        with:
          context: ./guacamole-tomcat
          file: ./guacamole-tomcat/Dockerfile
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ghcr.io/${{ github.actor }}/guacamole:latest

      - run: docker images
